html{
    font-family: sans-serif;
}
body{
    margin:0;
}
a{
    color: #0099ff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
img{
    display: block;
    max-inline-size:100%;
    block-size: auto;
}
ol,
ul{
    list-style:none;
}
h1,h2,h3,h4,h5,h6{
    margin-top:0;
    margin-bottom:1rem;
}
p{
    margin-top:0;
    margin-bottom:1rem;
}
p a{
    color: inherit;
    text-decoration: underline;
}
.container {
    max-width: 80rem;
    margin-inline: auto;
}
.container.has-padding {
    padding: 1em;
}